In [1]:
import numpy as np
import pandas as pd
import webbrowser
import os
from scipy.optimize import fmin_cg

In [2]:
def normalize_ratings(ratings):
    """
    Given an array of user ratings, subtract the mean of each product's ratings
    :param ratings: 2d array of user ratings
    :return: (normalized ratings array, the calculated means)
    """
    mean_ratings = np.nanmean(ratings, axis=0)
    return ratings - mean_ratings, mean_ratings

In [3]:
def cost(X, *args):
    """
    Cost function for low rank matrix factorization
    :param X: The matrices being factored (P and Q) rolled up as a contiguous array
    :param args: Array containing (num_users, num_products, num_features, ratings, mask, regularization_amount)
    :return: The cost with the current P and Q matrices
    """
    num_users, num_products, num_features, ratings, mask, regularization_amount = args
    # Unroll P and Q
    P = X[0:(num_users * num_features)].reshape(num_users, num_features)
    Q = X[(num_users * num_features):].reshape(num_products, num_features)
    Q = Q.T
    # Calculate current cost
    return (np.sum(np.square(mask * (np.dot(P, Q) - ratings))) / 2) + ((regularization_amount / 2.0) * np.sum(np.square(Q.T))) + ((regularization_amount / 2.0) * np.sum(np.square(P)))

In [4]:
def gradient(X, *args):
    """
    Calculate the cost gradients with the current P and Q.
    :param X: The matrices being factored (P and Q) rolled up as a contiguous array
    :param args: Array containing (num_users, num_products, num_features, ratings, mask, regularization_amount)
    :return: The gradient with the current X
    """
    num_users, num_products, num_features, ratings, mask, regularization_amount = args

    # Unroll P and Q
    P = X[0:(num_users * num_features)].reshape(num_users, num_features)
    Q = X[(num_users * num_features):].reshape(num_products, num_features)
    Q = Q.T

    # Calculate the current gradients for both P and Q
    P_grad = np.dot((mask * (np.dot(P, Q) - ratings)), Q.T) + (regularization_amount * P)
    Q_grad = np.dot((mask * (np.dot(P, Q) - ratings)).T, P) + (regularization_amount * Q.T)

    # Return the gradients as one rolled-up array as expected by fmin_cg
    return np.append(P_grad.ravel(), Q_grad.ravel())

In [17]:
def low_rank_matrix_factorization(ratings, mask=None, num_features=15, regularization_amount=0.01):
    """
    Factor a ratings array into two latent feature arrays (user features and product features)

    :param ratings: Matrix with user ratings to factor
    :param mask: A binary mask of which ratings are present in the ratings array to factor
    :param num_features: Number of latent features to generate for users and products
    :param regularization_amount: How much regularization to apply
    :return: (P, Q) - the factored latent feature arrays
    """
    num_users, num_products = ratings.shape

    # If no mask is provided, consider all 'NaN' elements as missing and create a mask.
    if mask is None:
        mask = np.invert(np.isnan(ratings))

    # Replace NaN values with zero
    ratings = np.nan_to_num(ratings)

    # Create P and Q and fill with random numbers to start
    np.random.seed(0)
    P = np.random.randn(num_users, num_features)
    Q = np.random.randn(num_products, num_features)

    # Roll up P and Q into a contiguous array as fmin_cg expects
    initial = np.append(P.ravel(), Q.ravel())

    # Create an args array as fmin_cg expects
    args = (num_users, num_products, num_features, ratings, mask, regularization_amount)

    # Call fmin_cg to minimize the cost function and this find the best values for P and Q
    X = fmin_cg(cost, initial, fprime=gradient, args=args, maxiter=1000)

    # Unroll the new P and new Q arrays out of the contiguous array returned by fmin_cg
    nP = X[0:(num_users * num_features)].reshape(num_users, num_features)
    nQ = X[(num_users * num_features):].reshape(num_products, num_features)

    return nP, nQ.T

In [6]:
def RMSE(real, predicted):
    """
    Calculate the root mean squared error between a matrix of real ratings and predicted ratings
    :param real: A matrix containing the real ratings (with 'NaN' for any missing elements)
    :param predicted: A matrix of predictions
    :return: The RMSE as a float
    """
    return np.sqrt(np.nanmean(np.square(real - predicted)))

In [7]:
# Read the dataset into a data table using Pandas
raw_dataset_df = pd.read_csv("movie_ratings_data_set.csv")
movies=pd.read_csv("movies.csv",index_col="movie_id")
raw_dataset_df.head(10)

   user_id  movie_id  value
0        1        28      4
1        1        26      4
2        1         9      4
3        1         1      4
4        1        14      4
5        1        13      5
6        2         2      5
7        2        15      4
8        2         1      5
9        2        21      5

In [9]:
ratings_df=pd.pivot_table(raw_dataset_df,index='user_id',columns='movie_id',aggfunc=np.max)
ratings_df.head(10)

         value                                            ...                 \
movie_id    1    2    3    4    5   6   7    8    9    10 ...   25   26   27
user_id                                                   ...
1          4.0  NaN  NaN  NaN  NaN NaN NaN  NaN  4.0  NaN ...  NaN  4.0  NaN
2          5.0  5.0  NaN  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
3          4.0  4.0  5.0  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
4          5.0  5.0  NaN  5.0  5.0 NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
5          5.0  NaN  NaN  NaN  NaN NaN NaN  NaN  5.0  NaN ...  NaN  NaN  NaN
6          5.0  5.0  NaN  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
7          5.0  NaN  NaN  2.0  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
8          4.0  NaN  5.0  NaN  NaN NaN NaN  NaN  NaN  5.0 ...  NaN  NaN  5.0
9          5.0  NaN  5.0  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
10         4.0  NaN  4.0  NaN  NaN NaN NaN  4.0  NaN  NaN ...  NaN  NaN  NaN


movie_id   28   29  30   31   32   33   34
user_id
1         4.0  NaN NaN  NaN  NaN  NaN  NaN
2         NaN  NaN NaN  3.0  NaN  NaN  4.0
3         NaN  NaN NaN  NaN  NaN  NaN  NaN
4         NaN  NaN NaN  NaN  NaN  NaN  NaN
5         NaN  3.0 NaN  3.0  2.0  5.0  5.0
6         NaN  NaN NaN  2.0  5.0  4.0  3.0
7         NaN  NaN NaN  NaN  NaN  NaN  4.0
8         5.0  NaN NaN  NaN  NaN  NaN  NaN
9         5.0  4.0 NaN  NaN  NaN  NaN  NaN
10        NaN  5.0 NaN  NaN  NaN  NaN  NaN

[10 rows x 34 columns]

In [20]:
#Return an U matrix for the Users and M matrix for the Movies
U, M = low_rank_matrix_factorization(ratings_df.as_matrix(),
                                                                    num_features=15,
                                                                    regularization_amount=0.1)

M

Warning: Maximum number of iterations has been exceeded.
         Current function value: 32.509226
         Iterations: 1000
         Function evaluations: 1494
         Gradient evaluations: 1494

array([[ 8.23378933e-01,  8.44298813e-01,  4.41732467e-01,
         5.66855851e-01,  1.00800056e+00,  4.98468176e-01,
        -1.12273373e-03,  7.59546930e-01,  4.40341883e-01,
         5.96865459e-01,  6.73493101e-01,  6.02954717e-01,
         5.43164022e-01,  7.50460173e-01,  1.07179707e-01,
         1.07115461e+00, -3.62995928e-01,  1.16787727e+00,
         1.11159026e-01, -2.83550193e-01,  1.30990702e+00,
         5.82329364e-01, -4.44444028e-02,  3.90094409e-01,
         1.32751402e+00,  1.00776932e+00,  1.58254895e-01,
         7.29444209e-01,  3.46367790e-01,  6.06658118e-01,
         3.13340258e-01, -2.18148882e-02, -6.43624387e-02,
         7.45076967e-01],
       [-8.16095481e-01, -3.83432673e-01, -1.19741638e+00,
        -4.57336067e-01, -9.53470060e-01, -8.15923972e-01,
        -5.48154425e-02, -9.67467750e-01, -5.83027698e-01,
        -6.00804465e-01, -2.19882798e-02, -6.43606221e-01,
        -9.48753703e-01, -6.78797387e-01, -1.10876740e+00,
        -2.84003256e-01, -7.63148588e-01, -3.87407195e-01,
        -1.09669808e+00, -1.92007135e+00, -1.29997791e+00,
        -6.15629669e-01, -1.24897220e+00, -4.43954864e-01,
        -9.16571063e-01, -3.59705294e-01, -6.93089694e-01,
        -4.49183461e-01, -1.65774768e+00, -5.10280525e-01,
        -6.58299601e-01, -1.26913965e+00, -5.97675611e-01,
        -5.83249206e-01],
       [-9.02101862e-01, -2.62778919e-01, -1.24363756e+00,
        -7.50612211e-01, -6.96040843e-01, -6.16289976e-01,
        -8.28693322e-01, -6.35786271e-01, -9.06761735e-01,
        -6.93876223e-01, -7.60117894e-01, -7.52463242e-01,
        -1.14057900e+00, -5.24434400e-01, -4.40018575e-01,
        -9.44824081e-01, -3.12468038e-02,  2.03204784e-01,
        -5.46886156e-01,  6.96965851e-02,  2.90349314e-01,
        -3.85297452e-01, -6.81426786e-01, -8.99057826e-01,
        -5.57916045e-01, -8.28679271e-01, -1.69742230e-01,
        -1.15021986e+00, -4.53291787e-01, -3.98569821e-01,
         5.04624717e-01,  9.01833471e-01, -8.16887017e-01,
        -8.53074468e-01],
       [ 1.93042253e-02,  3.00485490e-02,  3.52520744e-01,
        -5.10753286e-01,  6.05074367e-01,  7.10722273e-02,
         2.74106974e-03, -3.97514988e-03,  2.66495482e-01,
         6.68925273e-01, -3.55594516e-01,  5.44875652e-01,
        -2.33268540e-01, -6.76344470e-03,  8.88657327e-01,
        -8.09645894e-02,  1.16195299e-01,  4.85278687e-01,
        -5.59949124e-01,  6.30360668e-01,  4.24212657e-01,
         6.77193627e-02, -1.18416459e-01,  1.78606584e-01,
         2.84786819e-01,  8.03594015e-02,  7.47630510e-01,
        -1.33705957e-01,  6.83233576e-01,  1.67390001e+00,
         1.42789305e-01, -6.10962306e-01,  9.35786424e-01,
        -1.03969611e+00],
       [-1.28273745e+00, -8.57180093e-01, -1.02563061e+00,
        -1.22319148e+00, -1.02883129e+00, -1.43738104e+00,
        -2.78193379e-01, -1.17426852e+00, -9.81654126e-01,
        -1.01872666e+00, -9.77662492e-01, -8.74619428e-01,
        -1.37741419e+00, -1.31580054e+00, -5.30959639e-01,
        -1.09439127e+00, -8.03003744e-01, -1.00104671e+00,
        -1.23761960e+00, -1.33186190e+00, -5.05347598e-01,
        -1.58147290e+00, -8.05777732e-01, -7.03547929e-01,
        -5.09897532e-01, -7.71812909e-01, -3.94871134e-01,
        -9.86585668e-01, -1.03857849e+00, -7.13350161e-01,
        -2.01414025e+00, -1.05497792e+00, -1.56245689e+00,
        -8.88053878e-01],
       [-1.55270686e+00, -1.78815710e+00, -1.59992696e+00,
        -1.34482639e+00, -1.58792972e+00, -1.52830104e+00,
        -2.04719757e+00, -1.57807830e+00, -1.50438534e+00,
        -1.82413022e+00, -1.84716015e+00, -1.31301997e+00,
        -1.51005180e+00, -2.00403391e+00, -9.18645554e-01,
        -1.81204571e+00, -8.19701220e-01, -7.34028992e-01,
        -9.17533691e-01, -1.41276783e+00, -2.64101680e+00,
        -1.81781006e+00, -1.39588953e+00, -2.21201131e+00,
        -1.36799669e+00, -1.54166703e+00, -2.10068902e+00,
        -1.39882318e+00, -7.08387369e-01, -8.65100060e-01,
        -6.91921593e-01, -2.56497890e+00, -1.80305840e+00,
        -1.64007620e+00],
       [ 5.92595013e-02,  2.98106305e-02, -7.78066710e-01,
        -5.82128794e-01, -9.44543600e-01, -1.75141955e-01,
        -6.33789759e-01, -2.99739138e-01, -5.65320603e-01,
        -6.53635131e-01, -1.74621436e-01, -2.11706457e-02,
        -2.73325524e-02, -3.93099776e-01,  1.60893540e-01,
        -2.11304853e-01, -7.75847618e-01, -2.19477725e-01,
        -7.77198584e-01, -1.61522625e-01, -7.56845205e-01,
         3.35002818e-01,  2.23577566e-02, -3.52412399e-01,
        -1.70496128e-01, -3.02458246e-01, -4.66002129e-02,
        -6.73232457e-01,  2.14452695e-01, -3.18428760e-01,
        -1.06526682e-01, -1.91661944e-01, -9.60782644e-01,
        -1.93649601e+00],
       [ 7.09467829e-01,  4.04622113e-01,  1.88746604e-01,
        -1.51926043e-01,  2.42230007e-01,  4.07241825e-01,
         4.45717265e-01,  4.19387208e-01,  2.07984624e-01,
         1.11313775e-01, -5.58323655e-02,  3.70100965e-01,
         8.92617622e-01, -4.72015175e-01,  8.56040532e-01,
         6.29569343e-01,  1.24551417e-02, -5.89942818e-01,
         1.16360761e+00, -4.56516493e-02,  3.15399283e-01,
         4.43985311e-01,  1.49440729e+00,  5.73772244e-01,
         2.71843454e-01,  2.09303163e-01, -8.36506968e-03,
        -1.95497736e-01,  7.76004012e-01,  1.08199503e+00,
         2.87911282e-01,  1.37308167e+00,  5.69793183e-01,
         8.09428836e-01],
       [-1.98902042e-01,  3.09774012e-01,  5.55629818e-01,
         4.32180798e-01, -3.07228863e-01,  9.28694560e-02,
        -5.78453581e-01,  2.28572867e-01,  2.71530826e-01,
        -6.70300146e-02,  5.55425320e-01, -5.03967867e-02,
         5.35797708e-01,  4.26779219e-01, -2.85842094e-01,
         3.79965669e-01,  1.03963596e+00,  7.34060430e-03,
         7.61671297e-01,  1.79185016e-01, -1.37331499e-01,
        -5.67178396e-01,  7.87463393e-01, -5.84139644e-01,
        -9.89943374e-02,  5.21619260e-01,  4.55881463e-02,
         7.39352720e-01,  6.42196919e-01, -7.33752951e-02,
        -3.05993699e-01, -2.07195773e-01, -1.10109617e+00,
         7.49664862e-01],
       [ 3.08872749e-01, -2.21540644e-01,  2.39041240e-01,
        -2.39875545e-01, -8.32893877e-02, -2.96258397e-01,
        -4.21503452e-01, -1.61908831e-02,  5.04879578e-02,
        -3.71759393e-01,  3.63869071e-02,  1.08567360e-01,
        -3.27330084e-02,  5.15779293e-01, -1.57967972e-02,
         3.22329648e-01, -1.34127644e-01, -6.71463478e-02,
         7.76700957e-03, -1.50620685e+00, -6.45047273e-02,
        -2.55871187e-01, -3.49195760e-01, -4.18578034e-02,
         6.73416352e-01,  9.10618191e-02,  1.29090151e-01,
         8.25205460e-02,  5.56886272e-01, -1.60726338e+00,
        -8.99376870e-01, -7.50165256e-01,  8.29220718e-01,
        -6.31054682e-01],
       [ 2.27419904e-01, -9.39328763e-02, -1.71801072e-02,
        -8.89219335e-01, -1.39845694e-01,  5.17844046e-02,
        -3.78505148e-01, -1.72174091e-01, -6.46016204e-02,
        -1.05680569e-01, -1.18955720e-01,  9.30370389e-01,
         2.32772356e-01,  1.39095640e+00, -1.49121432e-01,
         5.61347772e-01,  8.51478806e-01,  5.72863272e-01,
         8.37502588e-01,  3.16999305e-01,  1.31243044e-01,
         3.55557798e-01,  4.18428314e-01,  1.15307848e-01,
         6.29312108e-01,  2.77275900e-03, -1.66958689e-01,
         2.68787465e-02,  8.78991021e-01,  3.91115950e-01,
         2.33766713e+00,  3.84516909e-01,  6.80118852e-01,
         6.29150938e-01],
       [-1.20040508e-02, -7.76800670e-01, -1.00813711e-01,
         3.29099833e-02, -4.11971294e-01, -3.79838744e-01,
        -3.06543748e-01, -1.44052041e-01, -5.55914633e-01,
        -4.40852037e-01, -5.33061753e-01, -5.00559385e-01,
        -8.87170540e-01, -4.55584888e-01, -9.26620368e-01,
        -2.61038794e-01,  1.16341042e+00, -6.19989508e-01,
         8.75414229e-02, -5.14466521e-01, -1.00913392e+00,
        -1.06300147e-01, -2.73881830e-01, -3.47419485e-01,
        -6.83502838e-01, -7.22685876e-01, -6.15291974e-01,
        -3.99432637e-01, -1.23970842e-01, -3.60416768e-01,
        -5.33256877e-01,  1.62281253e-01,  6.20168278e-01,
        -9.53512592e-01],
       [-4.15558570e-01, -5.28878868e-01, -1.03100656e-01,
         6.07940753e-02, -1.36892547e-01,  1.12182441e-01,
        -3.34622395e-01, -4.26559229e-02, -2.36610445e-01,
        -3.76423388e-01, -4.40272644e-01, -2.59187008e-01,
         6.10816101e-01,  7.58925021e-02,  1.60301927e-01,
        -5.06730893e-01, -2.39608963e-01,  6.17399877e-01,
        -1.83285879e-01, -7.51097788e-01,  2.04295628e-01,
        -4.61130962e-01, -8.50438046e-01, -3.04194771e-01,
         2.18120293e-01, -3.10764735e-01, -1.98285665e-01,
        -5.12923095e-01, -5.26727802e-02, -4.54826548e-01,
         2.59459671e-01, -1.33180040e-01,  7.65883974e-03,
        -2.69068084e-02],
       [-1.03512263e+00, -1.07432104e+00, -9.77809577e-01,
        -9.17049924e-01, -9.11532961e-01, -7.18339396e-01,
        -3.23815429e-01, -8.09459792e-01, -9.37089875e-01,
        -1.04002712e+00, -6.64959748e-01, -6.01854419e-01,
        -4.96223036e-01, -3.85862676e-01, -7.13401554e-01,
         8.11979426e-02, -3.74776327e-01, -7.44253087e-01,
        -1.13154652e+00, -9.91745525e-01, -6.03939803e-01,
         1.51680834e-01, -1.74382301e-02, -6.27954910e-01,
        -9.22553071e-01, -9.32652577e-01, -1.10980167e+00,
        -7.70908904e-01,  3.59885104e-01, -1.11336493e+00,
        -5.11743772e-01,  4.18219990e-01, -2.32663026e-01,
         1.74651590e-01],
       [ 8.50406670e-01,  1.15192138e+00,  6.77458257e-01,
         1.05611367e+00,  1.02205946e+00,  1.23376113e+00,
         4.72545699e-01,  1.17081250e+00,  1.32262435e+00,
         9.74075110e-01,  4.64771345e-01,  1.14275411e+00,
         1.00475287e+00,  4.95583869e-01,  1.58477433e+00,
         7.01020800e-01,  1.54154861e+00,  1.97612511e+00,
         9.34273183e-01,  4.66798485e-01,  8.69568703e-02,
         1.29910431e+00,  4.61393025e-01,  9.90747367e-01,
         1.02240125e+00,  1.01219309e+00,  1.11071260e+00,
         1.19975724e+00,  1.69643940e+00,  1.20764726e+00,
         8.47184896e-03,  7.21316269e-01,  8.82359327e-01,
         8.10266318e-01]])

In [21]:
#Instead of doing a regular multiplication operator we will use the Matmul operator of numpy in order to do matrix multiplication
predicted_ratings = np.matmul(U, M)

In [22]:
predicted_ratings_df = pd.DataFrame(index=ratings_df.index,
                                    columns=ratings_df.columns,
                                    data=predicted_ratings)

In [23]:
predicted_ratings_df.head(10)

             value                                                    \
movie_id        1         2         3         4         5         6
user_id
1         4.002811  3.914904  4.155675  3.542763  3.927530  4.154358
2         4.970294  4.968506  4.441134  3.893871  4.865342  4.701697
3         4.016865  3.984347  4.956194  4.128198  4.538604  4.277047
4         4.989817  4.987847  4.956342  4.962324  5.010878  4.971985
5         4.980654  4.196910  5.411997  4.272397  5.181419  4.492897
6         4.971338  4.964164  4.189038  3.869993  4.511525  4.551110
7         4.978836  4.178918  4.175565  2.041438  4.158906  4.289204
8         4.032198  4.642790  4.988807  4.132703  4.828575  4.388166
9         4.986024  4.657508  4.997741  4.148640  4.850753  4.667128
10        4.008990  3.966851  3.999916  2.503546  3.903739  4.212549

                                                    ...               \
movie_id        7         8         9         10    ...           25
user_id                                             ...
1         2.624725  4.100723  4.010188  3.809425    ...     3.794577
2         3.382183  4.742050  4.544581  4.832425    ...     4.342834
3         2.812225  4.377018  4.491508  4.362601    ...     4.081162
4         3.878575  5.086879  4.953200  5.053910    ...     4.078907
5         3.233642  4.604100  4.981690  4.939415    ...     4.475328
6         3.522515  4.723966  4.308157  4.613336    ...     4.039826
7         2.825275  4.124074  4.003952  4.081830    ...     4.593186
8         3.374843  4.480751  4.884792  5.001875    ...     4.272206
9         3.342402  4.813473  4.779158  4.756287    ...     4.427131
10        2.766617  4.019975  4.007456  3.879311    ...     3.600048

                                                                      \
movie_id        26        27        28        29        30        31
user_id
1         3.984966  3.349802  3.990724  3.524186  2.972220  2.565780
2         4.492776  4.426322  4.200323  3.471386  4.406693  2.994058
3         4.313134  3.911173  4.477426  3.237622  3.110892  1.972839
4         4.748125  4.495332  4.918242  3.103673  3.601891  2.057290
5         4.672454  3.741458  5.073483  3.017430  3.774006  2.996459
6         4.220929  4.739673  3.860890  3.507975  3.838700  2.010703
7         3.959423  3.810450  3.609623  5.274690  4.388624  4.427768
8         4.686852  4.961121  4.964297  3.378273  3.411152  2.115965
9         4.744827  4.054766  4.975313  3.997969  3.524436  2.667715
10        3.550093  3.915929  3.250126  4.998323  4.676766  2.625610


movie_id        32        33        34
user_id
1         3.297513  3.150224  4.457186
2         4.333038  3.960352  3.999625
3         2.497840  3.403797  4.501351
4         4.182979  4.162926  4.622219
5         2.031604  4.980801  4.987608
6         4.979270  4.000770  3.017148
7         4.674718  4.917094  4.002547
8         3.152195  3.819875  4.479939
9         3.767727  4.443682  4.917949
10        4.506833  3.476676  3.862124

[10 rows x 34 columns]